*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

/* nav bar style */

nav {
    width: 100%;
    position:fixed ;    
    color: white;
    background-color: #0a0b0aec;
    display: flex;
    height: 60px;
    font-family: "Protest Riot", sans-serif;
    justify-content: space-around;
    box-shadow:0px 0px 30px   #6ec7e0;
}

nav li{
    list-style: none;
    padding: 20px;
    float:inline-start;
    cursor: pointer;
}

nav ul li a{
    text-decoration: none;
    color: white;
}


li:hover{
    background-color:hsl(192, 100%, 31%);
}



.logo{
    width: 60px; 
}

/* end nav bar style 
home page styles */

.videobackground {
    z-index: -10;
    position: absolute;
    max-width: 100%;
    min-height:100%;
    filter:brightness(50%);
}

.home {   
    overflow: hidden;
    color: black;
    height: 100vh;
    width: 100%; 
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    gap: 30px;
    
}

.home h3{
    text-align: center; 
    text-shadow: 0 0 3px  lightblue;
} 

.hello{
    padding-bottom: 30px;
    color: #6ec7e0;
    overflow: hidden; 
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
        typed 3.5s steps(40, end) infinite; 
        font-family: "Silkscreen", sans-serif;
        font-weight: 400;
        font-size: 2rem;   
}

@keyframes typed{
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color:#6ec7e0;
    }
}

button{
    width:115px;
    height:50px;
    color:#6ec7e0;
    background: none;
    border-radius: 12px;
    border:1px solid #6ec7e0;
    font-family: "Silkscreen", sans-serif;
        font-style: normal;  
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover{
    background-color:hsl(193, 20%, 20%);
}

.name,.dev{
    color: white;
    font-size: 3rem;
    font-family: "Protest Riot", sans-serif;
}

.center{
    text-align: center; 
    text-shadow: 0 0 20px  rgb(80, 137, 156);
}

/* end homePage styles
aboutMe styles */

.aboutMe{
    background-color: #567983;
}

.contain{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:30px;
    gap: 10px;
}

.dragon{
    width: 250px;
    border-radius: 15px;
    border: black solid 2px;
}

.description{
    font-size: 2rem;
    font-family: "Protest Riot", sans-serif;
    text-align: center;
}

.title::after{
    animation-name: dotty ;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-timing-function: step-end;
    animation-fill-mode: forwards;
    content: ' ';
    font-family:Silkscreen; 
    font-size: 2rem;
}
@keyframes dotty{
    0%   { content: ''; }
    20% { content: 'A'; }
    35%  { content: 'AB'; }
    55% { content: 'ABO'; }
    75% { content: 'ABOU'; }
    85% { content: 'ABOUT'; }
    95% { content: 'ABOUT M'; }
    100%  { content:'ABOUT ME :'; }}