*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* nav bar style */
.darkmode-toggle {
    z-index: 1; 
    /* ajouter par omar  */
}
nav {
    width: 100%;
    position:fixed ;    
    color: white;
    background-color: #0a0b0aec;
    display: flex;
    height: 60px;
    font-family: "Protest Riot", sans-serif;
    justify-content: space-around;
    box-shadow:0px 0px 30px   #6ec7e0;
    z-index: 2;
}

nav li{
    list-style: none;
    padding: 20px;
    float:inline-start;
    cursor: pointer;
}

nav ul li a{
    text-decoration: none;
    color: white;
}


li:hover{
    background-color:hsl(192, 100%, 31%);
}



.logo{
    width: 60px; 
}

body.darkmode--activated nav {
    background-color: #91381f; 
    box-shadow: 0px 3px 4px  #91381f;
}

/* end nav bar style 
home page styles */

.videobackground {
    z-index: -10;
    position: absolute;
    max-width: 100%;
    min-height:100%;
    object-fit: cover;
    filter:brightness(50%);
}

.home {   
    overflow: hidden;
    color: black;
    height: 100vh;
    width: 100%; 
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    gap: 30px;
    
}

.home h3{
    text-align: center; 
    text-shadow: 0 0 3px  lightblue;
} 

.hello{
    padding-bottom: 30px;
    color: #6ec7e0;
    overflow: hidden; 
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
        typed 3.5s steps(40, end) infinite; 
        font-family: "Silkscreen", sans-serif;
        font-weight: 400;
        font-size: 2rem;   
}

@keyframes typed{
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color:#6ec7e0;
    }
}

button{
    width:115px;
    height:50px;
    color:#6ec7e0;
    background: none;
    border-radius: 12px;
    border:1px solid #6ec7e0;
    font-family: "Silkscreen", sans-serif;
        font-style: normal;  
    cursor: pointer;
    transition: background-color 0.3s;
}
button a {
    text-decoration: none;
    color: #6ec7e0;
}

button:hover{
    background-color:hsl(193, 20%, 20%);
}

.name,.dev{
    color: white;
    font-size: 3rem;
    font-family: "Protest Riot", sans-serif;
}

.center{
    text-align: center; 
    text-shadow: 0 0 20px  rgb(80, 137, 156);
}

/* end homePage styles
aboutMe styles */

.aboutMe{
    background-color: #567983;
}

.contain{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:30px;
    gap: 10px;
}

.dragon{
    width: 250px;
    height: 300px;
    border-radius: 15px;
    border: black solid 2px;
}

.description{
    font-size: 2rem;
    font-family: "Protest Riot", sans-serif;
    text-align: center;
}

.title::after{
    animation-name: Visitor ; 
    /* changer par omar */
    animation-duration: 5s;
    animation-direction: alternate;
    animation-timing-function: step-end;
    animation-fill-mode: forwards;
    content: ' ';
    font-family:Silkscreen; 
    font-size: 2rem;
}
@keyframes Visitor{
    0%   { content: ''; }
    20% { content: 'A'; }
    35%  { content: 'AB'; }
    55% { content: 'ABO'; }
    75% { content: 'ABOU'; }
    85% { content: 'ABOUT'; }
    95% { content: 'ABOUT U'; }
/* <<<<<<< HEAD */
    100%  { content:'ABOUT US :'; }}


    /* the Teams section */
    /* the dragons */

.skill{
    background-color: #567983;
}

.theDragon{
    text-align: center;
    font-size: 4rem;
    font-family: silkscreen;
}


/* .theDragon::after{
    text-align: center;
    font-family: silkscreen;
    animation-name: dragons ;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-timing-function: step-end;
    animation-fill-mode: forwards;
    content: ' ';

}

@keyframes dragons{
    0%   { content: ''; }
    7.6% { content: 'T'; }
    15.2%  { content: 'TH'; }
    22.8% { content: 'THE'; }
    30.4% { content: 'THE '; }
    38% { content: 'THE D'; }
    45.6% { content: 'THE DR'; }
    53.2%  { content:'THE DRA'; }
    60.8%  { content:'THE DRAG'; }
    68.4%  { content:'THE DRAG'; }
    76%  { content:'THE DRAGO'; }
    83.6%  { content:'THE DRAGON'; }
    100%  { content:'THE DRAGONS'; }
} */

.theTeam{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 20px;
}

.theTeam img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.player1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* hidden skills */

.hicol .progressBox{
    width: 100%;
}

.hiRow{
    padding: 10px;
}

.leftcol{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 60px 0px;

}

.progressBox .language{
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    color: rgb(13, 13, 14);
}


.progressBox .progressBg{
    height: 20px;
    width: 100%;
    background-color: #d3d3d3;
    border-radius: 6px;
}

.progressBar{
    opacity: 0;
    animation: progress 2s ;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes progress {
    0%{
        width: 0;
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}

#htmlbg{
    background-color: #91381f;
    height: 20px;
    width: 80%;
    border-radius: 6px;
}

#cssbg{
    background-color: #94c426;
    height: 20px;
    width: 80%;
    border-radius: 6px;
}

#jsbg{
    background-color: #226abd;
    height: 20px;
    width: 80%;
    border-radius: 6px;
}

.meta{
    display: flex;
    justify-content: space-between;
}


.value{
    text-align: right;
    font-size: 16px;
}

#skillsBox{
    display: none;
}

.others {
    background-image: url(https://miro.medium.com/v2/resize:fit:679/1*ngNzwrRBDElDnf2CLF_Rbg.gif);
    background-position: 5px 3px;
    background-repeat: no-repeat;
    background-size: 15px;
    padding: 9px 21px 10px 15px;
}

.rightcol{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 60px 0;
}

    /* 100%  { content:'ABOUT US :'; } */

/* contact section  */
.contact_me::after{
    animation-name: dotty ;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    content: '';
}
body.darkmode--activated .Contact {
    background-color: #91381f;
    box-shadow: 0px 3px 4px #91381f;
}

@keyframes dotty {
    0%   { content: ''; }
    7.6%  { content: 'C'; }
    15.2%  { content: 'CO'; }
    22.8%  { content: 'CON'; }
    30.4%  { content: 'CONT'; }
    38%  { content: 'CONTA'; }
    45.6%  { content: 'CONTAC'; }
    53.2%  { content: 'CONTACT'; }
    60.8%  { content: 'CONTACT_'; }
    68.4%  { content: 'CONTACT_M'; }
    76%  { content: 'CONTACT_ME'; }
    83.6%  { content: 'CONTACT_ME. '; }
    91.5%  { content: 'CONTACT_ME. . '; }
    100%  { content: 'CONTACT_ME. . . '; } 

}

.box_All{
position: relative;
width: 670px;
height: 520px;
background:black;
border-radius: 20px;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
padding: 20px;
}
.box_All::after{
content: '';
position: absolute;
width: 1600px;
height: 1250px;
background-image: conic-gradient(transparent,transparent,transparent,#00ccff);
animation: animate 4s linear infinite;
animation-delay: -2s;
}
.box_All::before{
content: '';
position: absolute;
width: 1600px;
height: 1250px;
background-image: conic-gradient(transparent,transparent,transparent,#00ccff);
animation: animate 4s linear infinite;
}
@keyframes animate{
0%{
    transform: rotate(0deg);
}
100%{
    transform: rotate(360deg);
}
}
.box_All .form_box{
position: absolute; 
inset: 10px;
border-radius: 16px;
background-color: #1E353C;;
z-index: 1;
}
/* body{
background-color: black;
width: 1000px;
margin: 0 auto;
text-align: center;
} */
.Contact{
height: 100vh;
display: flex;
flex-direction: column;
justify-content: start;
gap:2%;
align-items: center;
position: relative;
background-color: #000000;
color: #6EC7E0;
width: 100%;
.contact_me{
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    font-family:Silkscreen;
    height:30px;
}
.contact_describe{
    font-size: 20px;
    color: white;
}
}
.form_box{
border-color: white;
border-radius: 15px;
background-color: #1E353C;
display: flex;
flex-wrap: wrap;
justify-content: center;
max-width: 650px ; 
height: 500px;
margin: auto;
padding: 20px;
overflow: hidden;
.form_contain_left{
    display: flex;
    flex-direction: column;
    width: 50%;
    .form_contain_detail{
        margin: 7px 0px;
        position: relative;
        input{
            height: 50px;
            width: 200px;
            background-color: #1e353c;
            border: 2px solid #6ec7e0;
            border-radius: 10px;
            color: #fcf7f8;
            font-family: cursive;
            font-size: 15px;
            padding: 0px 10px;
            margin-right: 100px;
        }
        input:hover{
            border-color: white;
        }
        label{
            background-color: #1e353c;
            color: #6ec7e0;
            padding: 0px 2px;
            position: absolute;
            top: 5px;
            left: 10px;
            transition: top .5s;
        }
}
        #email_box{
            width: 300px;
            /* margin-left: 5px; */
        }
    }
}



textarea{
width: 300px;
height: 150px;
padding: 0px 10px;
background-color: #1e353c;
border: 2px solid #6ec7e0;
border-radius: 10px;
color: #fcf7f8;
font-family: cursive;
font-size: 15px;
}
textarea:hover{
border-color: white;
}
.btn{
border: 2px solid;
border-radius: 5px;
font-family: Silkscreen;
font-weight: 400;
font-style: normal;
padding: 10px 25px;
margin: 10px auto;
width: 150px;
background-color: transparent;
border-color: #6ec7e0;
color: #6ec7e0;
cursor: pointer;
}
button.btn:hover{
background-color: #38626F;
}
.form_contain_right{
display: flex;
flex-direction: column;
width: 50%;
justify-content: center;
align-items: center;
padding: 30px 0px;
}

.contact_box_detail{
display: flex;
width: 300px;
gap: 10px;
justify-content: center;
padding: 25px 0px;
img{
    width: 25px;
    height: 25px;
}
a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-size: 25px;
}
}
.contact_icon{
display: flex;
gap: 70px;
.icon_Img{
    width: 70px;
    height: 60px;
}
.icon_Img2{
    width: 90px;
    height: 66px;
}
}
/* end contact section  */

