.pageMain{
    width: 100vw;
    height: 100vh;
    background-color: #1F353C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    background-image: url("./asset/Dragons/logo.png");
    background-repeat: no-repeat;
}

.row{
    gap: 50px;
}

.theDragon{
    text-align: center;
    font-size: 5rem;
    font-family: silkscreen;
    height: 180px;
    color: white;


}

.theTeam{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 20px; 
}

.center {
    text-align: center;
    text-shadow: 0 0 20px rgb(80, 137, 156);
    padding-bottom: 40px;
}
.name,.dev{
    color: rgb(247, 244, 244);
    font-size: 3rem;
    font-family: "Protest Riot", sans-serif;
}
.player1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.theTeam img{
    width: 240px;
    height: 280px;
    border-radius: 12px;
    border: 3px solid cadetblue;
    box-shadow: 2px 2px 3px #520009;
}
.dragon{
    width: 300px;
    height: 300px;
    border-radius: 12px;
    border: rgb(255, 250, 250) solid 5px;

} 

.theDragon::after{
    text-align: center;
    font-family: silkscreen;
    animation-name: dragons ;
    animation-duration: 4s;
    animation-direction: alternate;
    animation-timing-function: step-end;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    content: ' ';

}



@keyframes dragons{
    0% { content: ''; }
    7.6% { content: 'T'; }
    15.2%  { content: 'TH'; }
    22.8% { content: 'THE'; }
    30.4% { content: 'THE '; }
    38% { content: 'THE D'; }
    45.6% { content: 'THE DR'; }
    53.2%  { content:'THE DRA'; }
    60.8%  { content:'THE DRAG'; }
    68.4%  { content:'THE DRAG'; }
    76%  { content:'THE DRAGO'; }
    83.6%  { content:'THE DRAGON'; }
    90%  { content:'THE DRAGONS'; }
} 

.mainNames{
    text-decoration: none;
    color: rgb(255, 251, 251);
    font-family:"Protest Riot", sans-serif;
}