*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* nav bar style */

nav {
    width: 100%;
    position:fixed ;    
    color: white;
    background-color: #0a0b0aec;
    display: flex;
    height: 60px;
    font-family: "Protest Riot", sans-serif;
    justify-content: space-around;
    box-shadow:0px 0px 30px   #6ec7e0;
}

nav li{
    list-style: none;
    padding: 20px;
    float:inline-start;
    cursor: pointer;
}

nav ul li a{
    text-decoration: none;
    color: white;
}


li:hover{
    background-color:hsl(192, 100%, 31%);
}



.logo{
    width: 60px; 
}

body.darkmode--activated nav {
    background-color: #91381f; 
    box-shadow: 0px 3px 4px  #91381f;
}

/* end nav bar style 
home page styles */

.videobackground {
    z-index: -10;
    position: absolute;
    max-width: 100%;
    min-height:100%;
    object-fit: cover;
    filter:brightness(50%);
}

.home {   
    overflow: hidden;
    color: black;
    height: 100vh;
    width: 100%; 
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    gap: 30px;
    
}

.home h3{
    text-align: center; 
    text-shadow: 0 0 3px  lightblue;
} 

.hello{
    padding-bottom: 30px;
    color: #6ec7e0;
    overflow: hidden; 
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
        typed 3.5s steps(40, end) infinite; 
        font-family: "Silkscreen", sans-serif;
        font-weight: 400;
        font-size: 2rem;   
}

@keyframes typed{
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color:#6ec7e0;
    }
}

button{
    width:115px;
    height:50px;
    color:#6ec7e0;
    background: none;
    border-radius: 12px;
    border:1px solid #6ec7e0;
    font-family: "Silkscreen", sans-serif;
        font-style: normal;  
    cursor: pointer;
    transition: background-color 0.3s;
}
button a {
    text-decoration: none;
    color: #6ec7e0;
}

button:hover{
    background-color:hsl(193, 20%, 20%);
}

.name,.dev{
    color: white;
    font-size: 3rem;
    font-family: "Protest Riot", sans-serif;
}

.center{
    text-align: center; 
    text-shadow: 0 0 20px  rgb(80, 137, 156);
}

/* end homePage styles
aboutMe styles */

.aboutMe{
    background-color: #567983;
}

.contain{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:30px;
    gap: 10px;
}

.dragon{
    width: 250px;
    height: 300px;
    border-radius: 15px;
    border: black solid 2px;
}

.description{
    font-size: 2rem;
    font-family: "Protest Riot", sans-serif;
    text-align: center;
}

.title::after{
    animation-name: dotty ;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-timing-function: step-end;
    animation-fill-mode: forwards;
    content: ' ';
    font-family:Silkscreen; 
    font-size: 2rem;
}
@keyframes dotty{
    0%   { content: ''; }
    20% { content: 'A'; }
    35%  { content: 'AB'; }
    55% { content: 'ABO'; }
    75% { content: 'ABOU'; }
    85% { content: 'ABOUT'; }
    95% { content: 'ABOUT U'; }
    100%  { content:'ABOUT US :'; }}


    /* the Teams section */
    /* the dragons */

.skill{
    background-color: #567983;
}

.theDragon{
    text-align: center;
    font-size: 4rem;
    font-family: silkscreen;
}


/* .theDragon::after{
    text-align: center;
    font-family: silkscreen;
    animation-name: dragons ;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-timing-function: step-end;
    animation-fill-mode: forwards;
    content: ' ';

}

@keyframes dragons{
    0%   { content: ''; }
    7.6% { content: 'T'; }
    15.2%  { content: 'TH'; }
    22.8% { content: 'THE'; }
    30.4% { content: 'THE '; }
    38% { content: 'THE D'; }
    45.6% { content: 'THE DR'; }
    53.2%  { content:'THE DRA'; }
    60.8%  { content:'THE DRAG'; }
    68.4%  { content:'THE DRAG'; }
    76%  { content:'THE DRAGO'; }
    83.6%  { content:'THE DRAGON'; }
    100%  { content:'THE DRAGONS'; }
} */

.theTeam{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 20px;
}

.theTeam img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.player1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* hidden skills */

.hicol .progressBox{
    width: 100%;
}

.hiRow{
    padding: 10px;
}

.leftcol{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 60px 0px;

}

.progressBox .language{
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    color: rgb(13, 13, 14);
}


.progressBox .progressBg{
    height: 20px;
    width: 100%;
    background-color: #d3d3d3;
    border-radius: 6px;
}

.progressBar{
    opacity: 0;
    animation: progress 2s ;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes progress {
    0%{
        width: 0;
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}

#htmlbg{
    background-color: #91381f;
    height: 20px;
    width: 80%;
    border-radius: 6px;
}

#cssbg{
    background-color: #94c426;
    height: 20px;
    width: 80%;
    border-radius: 6px;
}

#jsbg{
    background-color: #226abd;
    height: 20px;
    width: 80%;
    border-radius: 6px;
}

.meta{
    display: flex;
    justify-content: space-between;
}


.value{
    text-align: right;
    font-size: 16px;
}

#skillsBox{
    display: none;
}

.others {
    background-image: url(https://miro.medium.com/v2/resize:fit:679/1*ngNzwrRBDElDnf2CLF_Rbg.gif);
    background-position: 5px 3px;
    background-repeat: no-repeat;
    background-size: 15px;
    padding: 9px 21px 10px 15px;
}

.rightcol{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 60px 0;
}